@page "/people"

@using System.Net.Http
@using System.Net.Http.Json
@using BlazorCrud.Data

@inject HttpClient Http 

<h3>People</h3>

<table class="table">
    @if (res.Data != null)
    {
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        @foreach (var person in res.Data)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>
                    <a href="personform/@person.Id">Edit</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        }
    }
</table>

<div class="row">
    <div class="col-12 text-center">
        <a href="newperson">New person</a>
    </div>
</div>

@code {
    public string url = "/api/people";
    public Data.Response<List<Person>> res = new Data.Response<List<Person>>();

    protected override async Task OnInitializedAsync() =>
        res = await Http.GetFromJsonAsync<Data.Response<List<Person>>>(url);
}
